.bg-body-tertiary{
    background-color: transparent !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:max-content ;
}

.DivNavBarItem{
    display: flex;
    flex-direction: row;
}

.DivNavBarItem p {
    color: #1f5bab;
    font-weight: 600;
    margin-left: 10px;
}

@media (max-width:800px)  {
	.DivNavBarItem p {
		opacity: 0;
        width: 0px;
        height: 0px;
	}

}