.cuerpo{
    width: 80%;
    min-height: 500px;
    margin: 8px auto ;
    padding: 20px;
    border: solid 2px rgba(191, 100, 25, 0.696);
    border-radius: 4px ;
    background-color: #fbf48d;
}
.tituloCuerpo{
    font-size: 32px;
    text-align: center;
    background-color: #fbf48d
}

.divContMenuCarrousel{
    background-color:transparent;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divMenu{
    margin: 30px;
    min-width: 150px;
    min-height: 300px;
}