.cuerpo{
    width: 80%;
    min-height: 500px;
    margin: 8px auto ;
    padding: 20px;
    border: solid 2px rgba(191, 100, 25, 0.696);
    border-radius: 4px ;
}
.tituloCuerpo{
    font-size: 32px;
    text-align: center;
}