.cabecera{
    display: flex;
    width: 80%;
    height: 80px;
    margin: 8px auto ;
    padding: 20px;
    border: solid 2px rgba(191, 100, 25, 0.696);
    border-radius: 10px ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #cd990a
}


.LogoMunicipio {
    width: 300px;
    height: 100px;
    background-color: #cd990a;
}

.Nombre {
    background-color: #cd990a;
}

.Redes {
    background-color: #cd990a;
}

.DivLogo {
    background-color: #cd990a;
}

.DivNombreYRedes {
    background-color: #cd990a;
    justify-content: space-between;
}