.footer {
  width: 80%;
  height: auto;
  margin: 8px auto;
  display: flex;
  flex-flow: wrap;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.69);
}

.footer div {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  padding: 15px;
  justify-content: space-between;
}

.footer div>a {
  text-decoration: none;
  color: black;
}

.pie-enlaces>a:hover {
  color: black;
  background: #bbb775;
  border-radius: 7px;
  font-weight: 600;
}

.pie-areas>a:hover {
  color: black;
  background: #e1dc8c;
  border-radius: 7px;
  font-weight: 600;
}

.footer p {
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
}